<a href="https://colab.research.google.com/github/DIYA238/assignment-/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].
\(i) WAP to add 50 and 60 to L.
\(ii) WAP to remove 11 and 13from L.
\(iii) WAP to sort L in ascending order.
\(iv) WAP to sort L in descending order.
\(v) WAP to search for 13 in L.
\(vi) WAP to count the number of elements present in L.
\(vii) WAP to sum all the elements in L.
\(viii) WAP to sum all ODD numbers in L.
\(ix) WAP to sum all EVEN numbers in L.
\(x) WAP to sum all PRIME numbers in L.
\(xi) WAP to clear all the elements in L.
\(xii) WAP to delete L.

In [8]:
l= [11, 12, 13, 14]
print ("the original list :",l)
l.append(50)
l.append(60)
print("after adding 50 and 60 in l ",l)
del l[0]
del l[1]
print ("after deleting elements from l ",l)
l.sort()
print("in ascending order",l)
l.sort(reverse=True)
print("in descending order",l)
print ("the number of elents in l are:",len(l))
print ("the sum of all numbers in l are:",sum(l))
s = 0
for i in l :
  if i%2==0:
    s = s+i
print("the sum of even numbers in l are:",s)
t= 0
for i in l :
  if i%2!=0:
    t = t+i
print("the sum of odd numbers in l are:",t)
a = 0
for i in range(2,4):
  for v in range (2,i//2 +1 ):
   if i%v==0:
    break
   else :
     a = a+i
print("the sum of all prime numbers is", a)
l.clear()
print (l)
#del l
#print (l)#will show error

the original list : [11, 12, 13, 14]
after adding 50 and 60 in l  [11, 12, 13, 14, 50, 60]
after deleting elements from l  [12, 14, 50, 60]
in ascending order [12, 14, 50, 60]
in descending order [60, 50, 14, 12]
the number of elents in l are: 4
the sum of all numbers in l are: 136
the sum of even numbers in l are: 136
the sum of odd numbers in l are: 0
the sum of all prime numbers is 0
[]

 D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i) WAP to add new entry in D; key=8 and value is 8.8
(ii) WAP to remove key=2.
(iii) WAP to check weather 6 key is present in D.
(iv) WAP to count the number of elements present in D.
(v) WAP to add all the values present D.
(vi) WAP to update the value of 3 to 7.1.
(vii) WAP to clear the dictionary.

In [1]:
d= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
d[8]=8.8
print (d)
del d[2]
print (d)
print ("Is Key 6 Present    --> ", 2 in d)
print("NUMBER OF ELEMENTS IN d ARE :",len(d))
print("SUM OF ALL VALUES IN d ARE :",sum(d.values()))
print("SUM OF ALL KEYS IN d ARE :",sum(d.keys()))
d[3]= 7.1
print(d)
d.clear()
print(d)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Is Key 6 Present    -->  False
NUMBER OF ELEMENTS IN d ARE : 5
SUM OF ALL VALUES IN d ARE : 37.4
SUM OF ALL KEYS IN d ARE : 21
{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
{}

S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
                                      S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
(i) WAP to add 55 and 66 in Set S1.
(ii) WAP to remove 10 and 30 from Set S1.
(iii) WAP to check whether 40 is present in S1.
(iv) WAP to find the union between S1 and S2.
(v) WAP to find the intersection between S1 and S2.
(vi) WAP to find the S1 - S2.

In [6]:
S1= set ([10, 20, 30, 40, 50, 60])
S2= set ([40, 50, 60, 70, 80, 90])
print ("S1:",S1)
print ("S2:",S2)
S1.add(55)
S1.add(66)
print("AFTER ADDING S1",S1)
S1.remove(10)
S1.remove(30)
print("S1 AFTER DELETION ",S1)
print ("Is 40 Present in S1 :", 40 in S1)
print ("Union of S1 and S2 : ", S1.union(S2))
print ("Union of S1 and S2 :", S1.union(S2))
S3 = S1 - S2
print("S1 - S2 = ",S3)

S1: {40, 10, 50, 20, 60, 30}
S2: {70, 40, 80, 50, 90, 60}
AFTER ADDING S1 {66, 40, 10, 50, 20, 55, 60, 30}
S1 AFTER DELETION  {66, 40, 50, 20, 55, 60}
Is 40 Present in S1 : True
Union of S1 and S2 :  {66, 70, 40, 80, 50, 20, 55, 90, 60}
Union of S1 and S2 : {66, 70, 40, 80, 50, 20, 55, 90, 60}
S1 - S2 =  {66, 20, 55}

Write the following program.
(i) WAP to print 100 random strings whose length between 6 and 8.
(ii) WAP to print all prime numbers between 600 and 800.
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [14]:
import random as r
import string as s
for i in range (0,100):
  l = r.randint(6,8)
  a =  r.sample (s.ascii_letters,l )
  print("".join(a))

gevKaO
MubNKBcr
QVrlSwP
bxBMhP
HGsqmW
VONBIc
rUmvRt
HPQYjI
lEhRsGKX
UvnNREca
NFurWURc
PejUDB
APOirjHe
QrVkjgSJ
nHRVrhy
qzFcOfk
JIjOwWC
NPfEsuV
AftlvLBa
THeNPbz
RSgVmcQ
fGngPQ
CvoustZm
HgrOoad
NzypTvXE
HqXWDmtf
sadFIQX
bBCVxLq
YDEWMsL
AXbSQfwY
lTLmOg
KetFsHfi
SDWEmXL
DnCiQzR
WygYmrC
dqnteRx
OWhKDt
orDcBmsP
jkLKdBV
ixpFRyZo
rJxdHmbn
oqgbNE
IsUZLDOK
yhZWxB
dOrBclwj
OzpGoC
PkxcWpN
OyPgqEC
zbOVAa
MCPmKDRw
mEYnLPRX
UxEZal
zxYOkFZG
ZOnEcs
pjuQGBKN
UnoRblF
oMXnhaWA
XnPgZhy
zmSHDg
lneEojU
RfilWrP
qCHveBDk
LXcHqP
CFtzdyWX
AwbFSm
aQpoUlK
uVslRfKT
QCDqmNX
QctqSgIy
NfeZbM
yCPRnK
Dmvsxj
htKDIqo
GbeNArFC
AvpKWF
basYtxX
tJQvEmn
TCZYcGiO
PIHcQaW
CNDQAJgw
ePOHndjl
iBQKtq
eQPnYqz
chRsWt
SbMumQl
qhcdsF
aoZYSRbW
qnBTjos
mPUykV
jEqrLPU
RxsLzhEG
MhinTSX
VvLFaEyK
cBVySmzi
GmHRsKJ
vfIEgx
BPuEHW
tJYupj
XWcINaA
tMeUwiGA

WAP to create two lists of 10 random numbers between 10 and 30; Find
(i) Common numbers in the two lists
(ii) Unique numbers in both the list
(iii) Minimum in both the list
(iv) Maximum in both the list
(v) Sum of both the lists

In [37]:
import random as r
import string as s
a =  r.sample (s.digits,10 )
print("".join(a))
b=  r.sample (s.digits,10 )
print("".join(b))
l = []
q= []
l=a
q=b
print ("l: ",l)
print ("q: ",q)
for i in l:
  for j in q:
    if i==j:
      print ("the common number is",i)

for i in l:
    if i not in q:
        print("The unique number in l is", i)

x =  min(l,q)
print("min of both lists",min(x))
y = max(l,q)
print("max of both lists",max(y))
l1 = list(map(int, l))  # ['5','7',...] â†’ [5, 7, ...]
q1 = list(map(int, q))
z = l1 + q1
print("sum of both lists",sum(z))

5278146903
5320694781
l:  ['5', '2', '7', '8', '1', '4', '6', '9', '0', '3']
q:  ['5', '3', '2', '0', '6', '9', '4', '7', '8', '1']
the common number is 5
the common number is 2
the common number is 7
the common number is 8
the common number is 1
the common number is 4
the common number is 6
the common number is 9
the common number is 0
the common number is 3
min of both lists 0
max of both lists 9
sum of both lists 90

WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers

---

In [48]:
# ********************************************QUES IMPORTANT*****************************************************
import random

# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5)+1):
        if num % i == 0:
            return False
    return True
random_numbers = [random.randint(100, 900) for _ in range(100)]
odd_numbers = []
even_numbers = []
prime_numbers = []
for n in random_numbers:
    if n % 2 == 0:
        even_numbers.append(n)
    else:
        odd_numbers.append(n)

    if is_prime(n):
        prime_numbers.append(n)
print("All Odd Numbers:")
print(odd_numbers)
print("\nTotal Odd Numbers:", len(odd_numbers))
print ("sum of all odd numbers:",sum(odd_numbers))
print("\nAll Even Numbers:")
print(even_numbers)
print("\nTotal Even Numbers:", len(even_numbers))
print ("sum of all even numbers:",sum(even_numbers))
print("\nAll Prime Numbers:")
print(prime_numbers)
print("\nTotal Prime Numbers:", len(prime_numbers))
print ("sum of all prime numbers:",sum(prime_numbers))

All Odd Numbers:
[283, 403, 357, 233, 453, 251, 851, 221, 651, 291, 347, 277, 819, 603, 323, 697, 527, 651, 105, 755, 281, 557, 825, 709, 377, 825, 827, 389, 183, 493, 409, 447, 757, 447, 511, 655, 847, 593, 525, 767, 343, 823, 419, 511, 659, 409, 645, 683, 129, 507, 373, 361, 497, 421]

Total Odd Numbers: 54
sum of all odd numbers: 27302

All Even Numbers:
[640, 278, 840, 110, 634, 424, 554, 638, 168, 366, 140, 442, 420, 870, 870, 250, 296, 320, 742, 248, 598, 816, 678, 892, 710, 706, 680, 286, 222, 106, 726, 394, 168, 184, 566, 210, 736, 110, 490, 686, 804, 804, 616, 526, 422, 110]

Total Even Numbers: 46
sum of all even numbers: 22496

All Prime Numbers:
[283, 233, 251, 347, 277, 281, 557, 709, 827, 389, 409, 757, 593, 823, 419, 659, 409, 683, 373, 421]

Total Prime Numbers: 20
sum of all prime numbers: 9700

D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [ ]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
F = open('output.txt','w')

for key, value in D.items():
  F.write(f"{key}, {value}\n")
F.close()

 L is a list defined as L={"One","Two","Three","Four","Five"}.
WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4

In [49]:
L={"One","Two","Three","Four","Five"}
F = open('output.txt','w')
for i in L:
 F.write("%s, %d\n" % (i, len(i)))
F.close()

Write to the file 100 random strings whose length between 10 and 15.

In [51]:
import random as r
import string as s
fp = open('output.txt', 'w')
for i in range (0,100):
  l = r.randint(10,15)
  a = r.sample(s.ascii_letters,l)
  fp.write("".join(a)+"\n")
fp.close()

Q10. Write to the file all prime numbers between 600 and 800.

In [57]:
fp = open('output.txt','w')
for i in range (600,800):
   for j in range (2,i):
      if i%j==0:
        break
      else:
           fp.write(f"{i}\n")
fp.close()

Q11. WAP to calculate the time taken by a program.

In [ ]:
import time as t
start = t.time()
su= 0
for i in range (0, 10000000):
  a = i*5
  su = su + a
print(su)
end = t.time()
timetaken = end-start
print("the time taken to run the program is ",timetaken)

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.
Number of elements in list Time Taken

5k - T1
10k -T2
15k -T3
20k -T4
25k -T5

In [ ]:
import random as r
import time as t

L1 =[]
L2 =[]
L3 =[]
L4 =[]
L5 =[]

L1 = r.sample(range(1,1000000),5000)
L2= r.sample(range(1,1000000),10000)
L3= r.sample(range(1,1000000),15000)
L4= r.sample(range(1,1000000),20000)
L5= r.sample(range(1,1000000),25000)
L1.sorted()
L2.sorted()
L3.sorted()
L4.sorted()
L5.sorted()

In [ ]:
import random as r
import time as t
L1 =[]
L2 =[]
L3 =[]
L4 =[]
L5 =[]
start1 = t.time()
L1 = r.sample(range(1,1000000),5000)
L1.sort()
end1 = t.time()
timetaken1 = end1-start1
print("the time taken to run the program is ",timetaken1)

start2 = t.time()
L2 = r.sample(range(1,1000000),10000)
L2.sort()
end2 = t.time()
timetaken2 = end2-start2
print("the time taken to run the program is ",timetaken2)

start3 = t.time()
L3 = r.sample(range(1,1000000),15000)
L3.sort()
end3 = t.time()
timetaken3 = end3-start3
print("the time taken to run the program is ",timetaken3)

start4 = t.time()
L4 = r.sample(range(1,1000000),20000)
L4.sort()
end4 = t.time()
timetaken4 = end4-start4
print("the time taken to run the program is ",timetaken4)

start5 = t.time()
L5 = r.sample(range(1,1000000),25000)
L5.sort()
end5 = t.time()
timetaken5 = end5-start5
print("the time taken to run the program is ",timetaken5)
import matplotlib.pyplot as plt

x = [1,2,3,4,5]
y = [timetaken1,timetaken2,timetaken3,timetaken4,timetaken5]

plt.bar(x, y, color='skyblue')
plt.xlabel("file name")
plt.ylabel("seconds")
plt.title("TIME TAKEN TO RUN THE PROGRAM ")
plt.show()

WAP to create a dictionary of student marks in five subjects and you have to find the student
having maximum and minimum average marks.

In [ ]:
d = {'maths':80,'english':56,'hindi':75, 'science':65, 'sst':77}
print("nax of marks",max(d.values()))
print("min of marks",min(d.values()))
print("average of marks",sum(d.values())// len(d))